{% extends 'base.html' %}

{% block stylesheet %}<link rel="stylesheet" href="static/buscar.css">{% endblock %}

{% block title %}Buscar{% endblock %}

{% block atributosBody %}{% endblock %}

{% block body %}
<div class="field" id="searchform">
  <input class="buscarNoticia" type="text" id="searchterm" placeholder="Escribe parte del título, contenido o autor..." />
  <button class="botonBuscarNoticia" type="button" id="search" onclick="buscarNoticias()">Buscar</button>
  <br><br>
  <section id="sectionNoticiasEncontradas" class="noticias"></section>
</div>
{% endblock %}
