{% extends 'base.html' %}

{% block stylesheet %}<link rel="stylesheet" href="static/iniciarSesion.css">{% endblock %}

{% block title %}Iniciar Sesión{% endblock %}

{% block atributosBody %}{% endblock %}

{% block body %}
<center>
  <div class="formInicio">
    <h1 class="tituloInicioSesion">Iniciar Sesión</h1>
    <br><br>
    <form id="formularioLogin" action="/">
      <div class="inputLogin">
        <label for="nombreUsuario">Nombre</label>
        <input type="text" id="nombreUsuario" placeholder="Escriba aquí..." required autofocus>
      </div>
      <br>
      <div class="inputLogin">
        <label for="contraseñaUsuario">Contraseña</label>
        <input type="password" id="contraseñaUsuario" placeholder="Escriba aquí..." required>
      </div>
      <br><br>
      <input type="button" value="Iniciar Sesión" onclick="iniciarSesion()">
    </form>
    <br><br>
    <p>¿No tienes cuenta? <a href="{{url_for('registro')}}">Registrate</a></p>
  </div>
</center>
{% endblock %}