{% extends 'base.html' %}

{% block stylesheet %}<link rel="stylesheet" href="static/registro.css">
<link rel="stylesheet" href="static/home.css">
{% endblock %}

{% block title %}Registro{% endblock %}

{% block atributosBody %}{% endblock %}

{% block body %}
<center>
  <div id="divRegistro">
    <br>
    <h1>Registro</h1>
    <br><br>
    <form id="formularioRegistro" method="POST" action="/verificarRegistro">
      <div class="inputRegistro">
        <label for="nombreUsuarioRegistro">Nombre</label>
        <input type="text" id="nombreUsuarioRegistro" name="nomUsuario" placeholder="Escriba aquí..." required autofocus>
      </div>
      <br>
      <div class="inputRegistro">
        <label for="contraseñaUsuarioRegistro">Contraseña</label>
        <input type="password" id="contraseñaUsuarioRegistro" name="conUsuario" placeholder="Escriba aquí..." required>
      </div>
      <br>
      <div class="inputRegistro">
        <label for="confirmarContraseñaUsuarioRegistro">Confirmar contraseña</label>
        <input type="password" id="confirmarContraseñaUsuarioRegistro" name="confirmarConUsuario" placeholder="Repita su contraseña..." required>
      </div>
      <br>
      <div class="inputRegistro">
        <label for="carreraUsuario">Carrera</label>
        <select id="carreraUsuario" name="carreraUsuario">
          <option class="carrera" value="Info">Informática</option>
          <option class="carrera" value="Comu">Comunicación</option>
          <option class="carrera" value="Tecnica">Técnica</option>
        </select>
      </div>
      <br><br>
      <input type="button" id="send-signup" value="Registrarme" onclick="coincidirContraseñas()"/>
    </form>
  </div>
</center>
{% endblock %}